*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

p{
    max-width: 60ch;
}

.darker-white{
    background-color: rgb(242, 242, 242);
}

header{
    width: 100%;
    height: 100vh;
    background: url(img/background.jpg) fixed no-repeat;
    background-size: cover;
}

.full-height{
    width: 100%;
    height: 100vh;
}

.loader{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10000;
    overflow: hidden;
}

.fade-out{
    transition: 1s;
    opacity: 0;
    visibility: hidden;
}


.logo-placeholder{
    height: inherit;
}


.navbar-custom{
    height: 60px;
    transition: 500ms;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.navbar-custom a{
    color: white;
    text-decoration: none;
    transition: font-size 1.5s;
}

.nav-scrolled{
    background: black;
    height: 50px;
}

.nav-scrolled li a{
    font-size: 12px;
}

ul{
    height: 100%;
    margin: 0;
}

li{
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}

ul li .item{
    transition:  0.5s;
}

ul li .active{
    transition: 0.5s;
    font-size: 16px;
    color: #3b97ff;
}

.img-overlay{
    background-color: rgba(0, 0, 0, 0.6);
}

.nav{
    height: 80px;
}

.hamburger-menu{
    display: none;
}

.line{
    width: 35px;
    height: 3px;
    background-color: white;
}

.hero{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.circle{
    width: 150px;
}

.circle img{
    border-radius: 50%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.container-img{
    width: 70px;
    height: 70px;
}

h2{
    text-transform: uppercase;
}

.resume{
    background: url(img/resume\ parallax.jfif) fixed no-repeat center;
    background-size: cover;
}

.card-custom{
    border: 1px solid rgba(114, 114, 114, 0.7);
    border-radius: 5px;
    height: inherit;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6);
    position: relative;
}

.project-links{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    border-radius: 5px;
}

.project-links button{
    color: white;
    text-decoration: none;
    font-size: 2.5vh;
    transition: 300ms !important;
    border: 0;
    background: transparent;
}
 
.card-custom:hover .project-links{
    opacity: 1;
    visibility: visible;
}

.form{
    background: rgb(26, 26, 26);
    color: white;
}

.form-box{
    position: relative;
}

.form-box label{
    font-size: 24px;
    transition: 300ms;
    position: absolute;
    top: 0;
    left: 0ex;
}

.form .input{
    width: 80%;
    font-size: 18px;
}

.form i{
    font-size: 4vh;
}

.form .input textarea, .form .input input{
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.form .input input:focus ~ label,
.form .input textarea:focus ~ label {
    font-size: 16px;
    transform: translateY(-5px);
}

.submit{
    width: 30%;
    height: 5vh;
    border-radius: 5vh;
    color: white;
    background: transparent;
}

footer i{
    font-size: 22px;
    transition: 300ms;
}

footer a i{
    color: white;
}

li a:hover{
    transition: 0.3s;
    color: #3b97ff;
}

#skills img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.fa-facebook-f:hover{
    color:#4267B2;
}

.fa-instagram:hover{
    color:#E1306C;
}
.fa-github:hover, .project-links .github:hover{
    color:#ffd33d;
}

.fa-globe-europe:hover, .project-links .website:hover{
    color: #3b97ff;
}

.btn{
    transition: 0.3s;
}

@media screen and (max-width:1200px){
    .project-text{
        font-size: 15px;
    }

    .about-me-title p, .card-text{
        font-size: 15px;
        line-height: 150%;
    }

    .container-img{
        height: 50px;
        width: 50px;
    }

    .project-links i{
        font-size: 20px;
    }

    .form label{
        font-size: 18px;
    }

    .form input{
        font-size: 14px;
    }

    .btn{
        font-size: 14px;
    }
}


@media screen and (max-width:780px){
    html, body{
        overflow-x: hidden;
    }

    .hero{
        text-align: center;
    }

    .hamburger-menu{
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        top: 20;
        right: 30px;
        z-index: 100;
    }

    .skills{
        justify-content: center;
    }

    .skills-text{
        text-align: center;
    }

    .navbar-custom{
        height: 60px;
        background-color: black;
    }

    ul{
        padding: 0 !important;
    }

    .items{
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(0, 0, 0);
        visibility: hidden;
        z-index: 3;
        position: absolute;
        top: 100%;
    }

    .item{
        text-align: center;
    }

    .submit{
        width: 60%;
    }
}

